In [ ]:
import json
import pandas as pd
import numpy as np
import importlib
from functions import Backtest 
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [ ]:
file=input('File Name:')
Company=Backtest(file)
Company.report()

In [ ]:
Company.range=180
Company.save_report()

In [ ]:
Company.look_up('AMZN')

In [ ]:
Backtest(file).show_db(0)

In [62]:
df.groupby('worktime').mean()

,timeframe,range,position_size,sma,ema,total_profit,total_trades,win_trades,loss_trades,breakeven,win_avg,loss_avg,reward_risk_ratio,win_ratio,loss_ratio,expectency,max_down,max_up
worktime,,,,,,,,,,,,,,,,,,
5,5.00,180.00,0.85,9.00,9.00,53.79,99.07,53.59,41.37,4.11,2.35,-1.48,1.67,0.54,0.42,0.54,0.95,60.08
10,5.00,180.00,1.00,9.00,9.00,74.24,112.64,62.43,45.71,4.50,2.37,-1.37,1.69,0.55,0.41,0.65,0.63,78.17

In [ ]:
df=df[df['win_ratio']>0.5]
df[df['reward_risk_ratio']>=1.85]